
:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #F0F8FF;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

* {
    font-family: "Fira Sans", sans-serif;
    font-weight: lighter;
}

body {
    background: url('images/image.jpg') rgba(0,0,0, 0.6);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width: 991px) {
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}



.bg-base {
    background-color: var(--color-base);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom .card-custom-image {
    overflow: hidden;
}

.link-custom:hover::after {
    width: 100%;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom {
    font-weight: 700;
    position: relative;
}